asgiref==3.2.3
boto3==1.13.13
botocore==1.16.13
cffi==1.14.0
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.8
django-cleanup==4.0.0
django-rest-knox==4.1.0
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
gunicorn==20.0.4
image-quality==1.2.5
imageio==2.8.0
jmespath==0.10.0
joblib==0.14.1
kiwisolver==1.2.0
libsvm==3.23.0.4
matplotlib==3.2.1
mysqlclient==1.4.6
networkx==2.4
numpy==1.18.2
opencv-contrib-python==4.2.0.34
opencv-contrib-python-headless==4.2.0.34
Pillow==8.1.1
psycopg2==2.8.5
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.0
urllib3==1.25.9
whitenoise==5.0.1
